#mapid{
    width: auto;
    height: 800px;
}
#title{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #767070;
    font-style: bold;
    text-align: left;
}
 .wrapper {
 display: grid;
grid-template-columns: 20% 79%;
grid-gap: 1em;

            
}


.wrapper > div {
background: #f6f6f6;
padding:1em;
} 
        
.wrapper > div:nth-child(odd){
background: #f6f6f6;
}